body{
    /*margin: 0;*/
}
#header{
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#right{
    width: 30%;
    height: 100%;
    border: 1px solid;
}
#microsoftLogo{
    height: 55px;
    width: 55px;
}
.menu:hover{
    text-decoration: underline 2px;
    padding: 2px;
}
#microsoftLogo:hover{
    padding: 2px;
}
#red:hover{
    color: #cb5555;
}
#green:hover{
color: #4cc04c;
}
#blue:hover{
    color: #5b5bef;
}
#yellow:hover{
    color: #deba4c;
}