#father{
    width: 100%;
    height: 600px;

}
#header{
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#left{
    width: 40%;
    height: 100%;
}
#right{
    width: 35%;
    height: 100%;
}
#left, #right, #user, #searcher{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#microsoftLogo{
    height: 55px;
    width: 55px;
}
.menu:hover{
    text-decoration: underline 2px;
}
#red:hover{
    color: #cb5555;
}
#green:hover{
color: #4cc04c;
}
#blue:hover{
    color: #5b5bef;
}
#yellow:hover{
    color: #deba4c;
}
a{
    text-decoration: none;
    color: black;
}
#user{
    width: 30%;
    height: 100%;
}
#avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid;
}
#inputHolder{
    width: 90%;
    height: 70px;
    position: absolute;
    top: 1%;
    left: 7%;
    background-color: white;
    padding-top: 15px;
    padding-left: 15%;
    padding-bottom: 15px;
    box-sizing: border-box;
}
#finder{
    width: 70%;
    height: 30px;
    margin-right: 3px;
}
#cancel{
    height: 30px;
    width: 60px;
    background-color: white;
}
